{% extends 'base.html' %}
{% block content %}
<h3>Alterar Senha - {{ user.username }}</h3>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.password.label(class_='form-label') }}
    {{ form.password(class_='form-control') }}
    <div class="form-text">Mín. 12, com maiúscula, minúscula, número e especial.</div>
    {% for e in form.password.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}
  </div>
  <div class="mb-3">
    {{ form.password_confirm.label(class_='form-label') }}
    {{ form.password_confirm(class_='form-control') }}
    {% for e in form.password_confirm.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}
  </div>
  {{ form.submit(class_='btn btn-primary') }}
  <a class="btn btn-secondary" href="/users/">Voltar</a>
</form>
{% endblock %}






